# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env
ENV/
env.bak/
venv.bak/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Streamlit
.streamlit/

# OS specific
.DS_Store
Thumbs.db
